{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"project": ["./tsconfig.json"]
	},
	"extends": [
		"airbnb-typescript/base",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:eslint-comments/recommended",
		"plugin:promise/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"rules": {
		"import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
		"import/no-mutable-exports": 0,
		"no-labels": 0,
		"no-restricted-syntax": 0,
		"no-underscore-dangle": ["allow", { "_id": true }]
	}
}
